<%- include("./templates/header.ejs")  %>
<%- include("./templates/nav_index.ejs") %>
    <main class="mainStyle">
        <h1></h1>
        <p></p>
    </main>

<%- include("./templates/footer.ejs")  %>