<nav class="nav">


    <a href="/">Inicio</a>
    <a href="servicios">Servicios</a>
    <a href="instalaciones">Instalaciones</a>
    <a href="productos">Productos</a>
    <a href="quienesSomos">Quienes Somos</a>
    <a href="contacto">contacto</a>

  
</nav>